<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xmlns:aop="http://www.springframework.org/schema/aop" 
         xmlns:context="http://www.springframework.org/schema/context" 
         xmlns:tx="http://www.springframework.org/schema/tx"  
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd  
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd  
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd" >
        
        
        <!--导入资源文件-->
        <context:property-placeholder location="classpath:db.properties"/>
        
        <!--配置c3p0数据源-->
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        	<property name="username" value="${jdbc.user}"></property>
			<property name="password" value="${jdbc.password}"></property>
			<property name="driverClassName" value="${jdbc.driverClass}"></property>
			<property name="url" value="${jdbc.jdbcUrl}"></property>
        </bean>
        
     	<!--配置SessionFactory-->
    	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"></property>
    	<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    	
    	<!--注释掉的一行-->
    	<!-- property name="mappingLocations" value="classpath:xmc/cineplex/bean/*.hbm.xml"></property -->
    	
    	</bean>       
        
        <!--配置Spring的声明事务-->
        <!--1.配置hibernate的食物管理器-->
    	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager" >  
        <property name="sessionFactory" ref="sessionFactory"></property>  
    	</bean> 
        
        <!--配置事务属性-->
        <tx:advice id="txAdvice" transaction-manager="transactionManager">
        	<tx:attributes>
        		<tx:method name="get*" read-only="true"/>
        		<tx:method name="*"/>
        	</tx:attributes>
        </tx:advice>
        
        <aop:config>  
        	<aop:pointcut id="txPointcut" expression="execution(* org.zhy.demo.dao.impl.*DaoImpl.*(..))" />  
        	<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>  
    	</aop:config>
    	
    	<!--定义Autowired自动注入bean-->
    	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    	
    	<!--扫描有注解的文件base-package包路径-->
    	<context:component-scan base-package="xmc.cineplex"/>
    	

</beans>